[Unit]
Description=Pollservice

[Service]
User=debian
Environment=REDIS_HOST={{ hostvars['redis']['ansible_default_ipv4']['address'] }}
WorkingDirectory=/etc/poll/poll/
ExecStart=flask run --host=0.0.0.0
Restart=always

[Install]
WantedBy=basic.target
